<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <!-- <th scope="col">Country Code</th>
          <th scope="col">Continent</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let league of leagues">
          <td>{{ league.leagueId }}</td>
          <td>{{ league.name }}</td>
          <!-- <td>{{ league.countryCode }}"</td>
          <td>{{ league.continent }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>