<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Country Code</th>
          <th scope="col">Continent</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of countries">
          <td>{{ country.countryId }}</td>
          <td>{{ country.name }}</td>
          <td>{{ country.countryCode }}"</td>
          <td>{{ country.continent }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>